*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
body{
    background: white;
}
.wrapper{
width: 350px;
height: 480px;
margin: 65px auto;
background: black;
border-radius: 15px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
#display{
    border: none;
    outline: none;
    width: 330px;
    height: 80px;
    color: white;
    font-size: 60px;
    font-weight: 700px;
    padding: 10px;
    text-align: right;
    background: #000000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.buttons-box{
    margin: 35px 35px;
}
.btn{
    width: 60px;
    height: 60px;
    margin: 3px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 28px;
    line-height: 30px;
    border-radius: 50px;
    background: #313131;
}
.btn:hover{
    background: rgba(0, 0, 0, 0.1);
}
.cbtn, .cbtn:hover{
    background: #f69906;
    color: black;
}
.mbtn, .mbtn:hover{
    background: #f69906;
    color: black;
}